@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), system-ui, sans-serif;
}

@layer utilities {
  .underline-grow {
    position: relative;
    text-decoration: none;
  }

  .underline-grow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  .underline-grow:hover::after {
    width: 100%;
  }

  .subtle-oblique {
    transform: skewX(-8deg);
    display: inline-block;
  }
}

.my-logo-icon {
  color: #ffffff;
}

html.dark .my-logo-icon {
  color: #000000;
}
